<div class="card" >
  <div class="card-body">
    <form (ngSubmit)="onSubmit(user)" #userForm="ngForm" *ngIf="user$ | async; let user">
      <h5 class="card-title" [class.active]="user.Status" [class.inactive]="!user.Status">{{user.LastName}} {{user.FirstName}}</h5>
      <hr>
      <div class="input-group indent">
        <div class="input-group-prepend">
          <span class="input-group-text">First name</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="user.FirstName" name="firstName" />
      </div>
      <div class="input-group indent">
        <div class="input-group-prepend">
          <span class="input-group-text">Last name</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="user.LastName" name="lastName"/>
      </div>
      <div class="input-group indent">
        <div class="input-group-prepend">
          <span class="input-group-text">Middle name</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="user.MiddleName" name="middleName" />
      </div>
      <div class="input-group indent">
        <div class="input-group-prepend">
          <span class="input-group-text">Email</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="user.Email" name="email" />
      </div>
      <div class="btn-group-toggle indent" data-toggle="buttons">
        <label class="btn btn-secondary active">
          <input type="checkbox" checked autocomplete="off" [(ngModel)]="user.Status" name="status" class="form-control"> Change status
        </label>
      </div>
      <hr>
      <input type="submit" value="Save" [disabled]="!userForm.form.dirty" class="btn btn-success"/>
    </form>
  </div>
</div>