<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#usersMenu" aria-controls="usersMenu"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="usersMenu">
      <button class="btn btn-outline-success" (click)="createEmptyUser()">Create</button>
    </div>
  </nav>
  <div style="position: relative" *ngIf="!(accessed$ | async)">
    <h1>
      Access denied!
    </h1>
  </div>
  <div style="position: relative" *ngIf="accessed$ | async">
    <ul class="list-group">
      <li class="list-group-item selectable" [class.select]="selectedUser ? selectedUser.IdMember == user.IdMember : false"
        (click)="selectUser(user)" *ngFor="let user of users | async;" id="member{{user.IdMember}}">{{user.Login}}</li>
    </ul>
    <div class="side-panel" [class.open]="isOpenPanel()">
      <button type="button" class="close" aria-label="Close" (click)="closePanel()">
        <span aria-hidden="true">&times;</span>
      </button>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>