<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="scriptPath" value="C:\Users\Domer\source\repos\Security.V2.1\backend\Security\Scripts\Create database.sql" />
    <add key="SecurityServerAddress" value="http://localhost:14797" />
    <!-- <add key="SecurityServerAddress" value="http://localhost:8080"/> -->
  </appSettings>

  <connectionStrings>
    <add name="securitydb" connectionString="Data Source=.;Initial Catalog=securitytestdb;Integrated Security=True;Application Name=SecurityTest" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Extensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Linq" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>