<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.8.1" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.4" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.4" targetFramework="net47" />
  <package id="Microsoft.SqlServer.Scripting" version="11.0.2100.61" targetFramework="net47" />
  <package id="Microsoft.SqlServer.SqlManagementObjects" version="140.17283.0" targetFramework="net47" />
  <package id="MSTest.TestAdapter" version="1.2.0" targetFramework="net47" />
  <package id="MSTest.TestFramework" version="1.2.0" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net47" />
  <package id="NLog" version="4.5.11" targetFramework="net47" />
  <package id="NLog.Config" version="4.5.11" targetFramework="net47" />
  <package id="NLog.Schema" version="4.5.11" targetFramework="net47" />
  <package id="NUnit" version="3.9.0" targetFramework="net47" />
  <package id="NUnit3TestAdapter" version="3.9.0" targetFramework="net47" />
</packages>