<select-item-dialog #content [items]="nonIncludedGroups$" (save)="addGroupsToUser($event)" (cancel)="cancelAddGroups($event)"></select-item-dialog>
<confirm-dialog #confirmDialogContent confirmmessage="Подтвердите удаление!" (ok)="deleteGroups()" (cancel)="deleteCancel()"></confirm-dialog>

<div class="container-fluid side-list">
  <button type="button" class="btn btn-outline-secondary" (click)="open(content)">Add</button>
  <button type="button" class="btn btn-outline-secondary" (click)="open(confirmDialogContent)" [hidden]="selectedGroups.length === 0">Remove</button>
  <hr>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let group of groups$ | async" (click)="group.selected = !group.selected;select(group)" [class.active]="group.selected">{{group.Name}}</li>
  </ul>
</div>