<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="remoteonly" value="false"/>
    <add key="appname" value="Security.Manager"/>
  </appSettings>
  <connectionStrings>
    <add name="securitydb" connectionString="Data Source=.;Initial Catalog=securitydb;Integrated Security=true;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>