<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#"><app-info></app-info></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainApplicationNavbar" aria-controls="mainApplicationNavbar"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="mainApplicationNavbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" [ngClass]="{'active': true}">
            <a class="nav-link" routerLink="main">Users
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item" [ngClass]="{'active': false}">
            <a class="nav-link" routerLink="settings">Settings</a>
          </li>
          <li class="nav-item" [ngClass]="{'active': false}">
            <a class="nav-link" routerLink="applications">Applications</a>
          </li>
          <li class="nav-item" [ngClass]="{'active': false}">
            <a class="nav-link" routerLink="testaccess">Test Access</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  
  <div class="main">
    <router-outlet></router-outlet>
  </div>
  
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Fixed bottom</a>
    </nav>
  </footer>
